.action {
  display: flex;
  justify-content: center;
  padding: 80px 50px;

  &--primary {
    background-color: $primary;

    .action__title {
      color: white;
    }
  }

  &--secondary {
    background-color: $secondary;
  }

  .action__title {
    margin: 0;
    font-size: 40px;
    line-height: 1.3;

    &-wrapper {
      max-width: $width;
    }
  }
}