html, body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
}

div, span, a, p, input, button, textarea {
  font-family: 'Work Sans', sans-serif;
}