body {
    width: 200px;
    padding: 16px;
    background-color: #23272B;
    color: #bbb;
    font-size: 0.75rem;
    font-family: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 1.35;
}

.action {
    margin-top: 10px;
}

.button {
    cursor: pointer;
    color: black;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 4px 0;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.2s;
}

.button:active {
    transform: scale(0.95);
}

.enabled-item, .disabled-item {
    display: none;
}

.enabled .enabled-item, .disabled .disabled-item {
    display: initial;
}